<button id="return" onclick="window.location.href='http://flip1.engr.oregonstate.edu:3495/home';">Return to main</button>
	<h1>Scent Academy - Abdominal Pain</h1>
	<div class="grid-container-ail">
		<div class="oil_info"><h2>Thyme</h2>
			<p>{{background}}</p>
			<p>Mix 2 drops of Thyme with 3 drops of Eucalyptus, 3 drops of Cardamon and 1 teaspoon of carrier oil. Massage over the painful area in a clockwise motion.</p>
			<h3>Links for further information</h3>
			<p>Clicking on any of these links will navigate away from this site!</p>
			<button id="healthline" onclick="window.location.href='https://www.healthline.com/nutrition/what-are-essential-oils';">Healthline</button>
			<button id="webmd" onclick="window.location.href='https://www.webmd.com/skin-problems-and-treatments/ss/slideshow-essential-oils';">WebMD</button>
			<button id="johns_hopkins" onclick="window.location.href='https://www.hopkinsmedicine.org/health/wellness-and-prevention/aromatherapy-do-essential-oils-really-work';">Johns Hopkins</button>
		</div>
		<div class="oil_pic">
			<center><img src="" alt="thyme" id="thyme"/></center>
		</div>
	</div>
	<h2>Places to purchase essential oils</h2>
	<div>
		<p>Clicking on any of these links will navigate away from this site!</p>
		<button id="amazon" onclick="window.location.href='https://www.amazon.com/essential-oils/s?k=essential+oils';">Amazon</button>
		<button id="young_living" onclick="window.location.href='https://www.youngliving.com/us/en';">Young Living</button>
		<button id="doterra" onclick="window.location.href='https://www.doterra.com/US/en';">doTerra</button>
	</div>
	<h2>Comments/Advice</h2>
	<p>Posted comments are publically available. Do not disclose sensitive medical information!</p>