<button id="return" onclick="window.location.href='http://flip1.engr.oregonstate.edu:3495/home';">Return to main</button>
	<h1>Scent Academy - Burns</h1>
	<div class="grid-container-ail">
		<div class="oil_info"><h2>Lavender</h2>
			<p>{{background}}</p>
			<p>Apply ice-cold water for 10 minutes. Then massage or press 2 drops of lavender oil directly onto the affected area. Drop another 5 drops of lavender oil onto a cool, dry compress and cover the area.</p>
			<h3>Links for further information</h3>
		</div>
		<div class="oil_pic">
			<img src="essential-oils.jpg" alt="essential oil bottles" width="550" height="400"/>
		</div>
	</div>
	<h2>Places to purchase essential oils</h2>
	<div>
		<span>Store</span>
		<span>Store</span>
		<span>Store</span>
		<span>Store</span>
	</div>
	<h2>Comments/Advice</h2>
	<p>Posted comments are publically available. Do not disclose sensitive medical information!</p>