<button id="return" onclick="window.location.href='index.html';">Return to main</button>
	<h1>Scent Academy - Influenza</h1>
	<div class="grid-container-ail">
		<div class="oil_info"><h2>Tea Tree</h2>
			<p>{{background}}</p>
			<p>Mix 5 drops of Tea Tree with 2 drops of Lavender and 2 drops of Thyme into a warm bath and inhale the steam while relaxing in the bath.</p>
			<h3>Links for further information</h3>
		</div>
		<div class="oil_pic">
			<img src="essential-oils.jpg" alt="essential oil bottles" width="550" height="400"/>
		</div>
	</div>
	<h2>Places to purchase essential oils</h2>
	<div>
		<span>Store</span>
		<span>Store</span>
		<span>Store</span>
		<span>Store</span>
	</div>
	<h2>Comments/Advice</h2>
	<p>Posted comments are publically available. Do not disclose sensitive medical information!</p>